div{
    font-family: 'Lora', serif;
}
.password-reset-page {
  height: 100vh;
  background-image: url('/src/assets/pavilion.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  font-family: 'Georgia', serif;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.password-reset-box {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  background: white;
  padding: 50px 40px;
  border-radius: 10px;
  width: 25%;
  min-height: 60%;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.password-reset-box h3 {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: bold;
  color: #333;
}
.instruction-text {
  margin-bottom: 30px;
  color: #666;
  font-size: 14px;
  line-height: 1.5;
}
.input-group {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 15px 10px;
  margin: 30px 0;
}
.input-group svg {
  margin-right: 10px;
  color: gray;
}
.input-group input {
  flex: 1;
  font-family: 'Lora', serif;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 5px 0;
}
.reset-submit {
  margin-top: 40px;
  background-color: #fff86b;
  border: none;
  padding: 15px 30px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Lora', serif;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  color: #333;
}
.reset-submit:hover:not(:disabled) {
  background-color: #F9EC3F;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.reset-submit:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
