.app-layout {
  display: flex;
  min-height: 100vh;
  background: #f6f6f6;
}

.main-content {
  flex: 1;
  padding: 0.5rem;
  background: #f6f6f6;
}

html, body {
  zoom: 1;
  transform: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
 
